.timlands-inputs {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  display: block;
  border-radius: 6px;
  outline: none;
  width: 100%;
  &:hover {
    border: 1px solid #ccc;
  }
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    border: 1px solid $primary;
  }
  &.select {
    padding: 7px 20px;
  }
  &.code {
    padding: 17px 24px !important;
    font-size: 27px !important;
    text-align: center;
    margin-top: 8px;
    direction: ltr;
    border: 2px solid #ddd;
    border-radius: 8px;
    &:hover {
      border: 2px solid #ccc;
    }
    &:focus {
      border: 2px solid $primary;
    }
  }
  &.sm {
    padding: 8px 15px !important;
    font-size: 12px !important;
    margin-top: 4px;
    border-radius: 4px;
  }
  &.xs {
    padding: 6px 12px !important;
    font-size: 11px !important;
    margin-top: 1px;
    border-radius: 4px;
  }
  &.lg {
    padding: 12px 18px !important;
    font-size: 15px !important;
    margin-top: 3px;
    border-radius: 6px;
  }
  &.has-error {
    border: 1px solid rgb(253, 151, 151);
    &:hover {
      border: 1px solid rgb(223, 87, 87);
    }
  }
}

.label-block {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  &.sm {
    font-size: 12px !important;
  }
  &.lg {
    font-size: 17px !important;
  }
}
.label-note {
  font-size: 12px;
  color: #777;
  font-weight: 200;
  display: block;
  margin: 6px 0;
}
.timlands-form {
  &.confirm {
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  padding: 12px 0;
  position: relative;
  .timlands-input {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 19px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-weight: 500;
    outline: none;
    transition: all 0.3s;

    &::placeholder {
      color: #ddd;
    }
    &:disabled {
      opacity: 0.3;
    }
    &:hover {
      border: 1px solid #ccc;
    }
    &:focus {
      transition: all 0.3s;
      outline: none;
      border: 1px solid $primary;
      &::placeholder {
        color: #ccc;
      }
    }
    .selectCode {
      margin: 0px !important;
      height: 38px !important;
    }
    .ant-select {
      height: 38px !important;
      display: flex !important;
      align-items: center !important;
    }
    @keyframes formscale {
      0% {
        transform: scale(1.08);
      }
      100% {
        transform: scale(1);
      }
    }
    &.has-error {
      animation: formscale 0.4s;
      border: 1px solid rgb(240, 53, 53);
    }
  }

  @media (max-width: 500px) {
    margin: 20px 0;
  }
  .icon-preview {
    position: absolute;
    color: #999;
    top: 60px;
    .material-icons {
      font-size: 32px;
    }
  }
  &.small {
    .timlands-input {
      padding: 8px 16px;
      font-size: 13px;
      border-radius: 4px;
    }
    .label-block {
      font-size: 13px;
      margin-bottom: 8px;
    }
  }
}
.timlands-form-note {
  margin-top: 5px;
  padding: 8px 0;
  .text {
    font-size: 13px;
    color: #666;
    margin: 0;
    font-weight: 300;
  }
  &.form-note-error {
    .text {
      color: rgb(196, 61, 61);
      font-weight: 700;
    }
  }
}
.form-check-label {
  .terms-list {
    padding: 0;
    li {
      font-size: 12px;
      list-style: none;
      font-weight: 200;
      line-height: 27px;
    }
  }
}

// List Items

.form-check-input:checked + .form-checked-content {
  opacity: 0.5;
}

.form-check-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.charge-form-footer {
  border-top: 1px solid #f2f2f2;
  padding: 15px 10px;
  padding-bottom: 0Q;
}
.form-languages {
  .form-check-label {
    font-size: 13px !important;
    color: #777;
  }
  .title-lang {
    font-size: 13px;
    margin: 0;
    color: #333;
    font-weight: bold;
  }
}
.form-check-input:checked + .form-checked-content {
  opacity: 0.5;
}

.form-check-input-placeholder {
  pointer-events: none;
  border-style: dashed;
}
.form-with-span {
  position: relative;

  .label-form {
    background-color: #f1f1f1;
    color: #555;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 1px;
  }
}
.rate-filters {
  .form-check {
    border: 1px solid #f7f7f7;
    padding: 12px 15px;
    cursor: pointer;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}
.form-toggle-password {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  align-items: center;
  background-color: #fff;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.11);
  justify-content: center;
  transition: all 0.3s;
  color: #222;
  .material-icons {
    font-size: 17px;
  }
  &:hover {
    color: #000;
    background-color: #f7f7f7;
    transition: all 0.3s;
  }
  &.is-active {
    background-color: #f1f1f1;
    color: #666;
  }
}
.timlands-form-btn {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #888;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 0;
  border-radius: 50%;
  top: 45px;

  &:hover {
    background-color: #f1f1f1;
    color: #444;
  }

  .material-icons {
    font-size: 16px;
  }

  &.active {
    background-color: #f9f9f9;
    color: #ccc;
  }
}
.select-tags-form {
  display: flex;
  align-items: center;
  align-content: center;

  .spinner-border {
    position: absolute;
    top: 25px;
    z-index: 100;
  }
}
.timlands-checked-items {
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 48px;
  left: 10px;
  display: flex;
  li {
    a {
      display: flex;
      padding: 4px 6px;
      color: #666 !important;
      border-radius: 4px;
      margin-inline: 3px;
      background-color: #f5f5f5;
      font-size: 11px;
    }
    &.active {
      a {
        color: #fff !important;
        background-color: #3bb361;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
