.is-dark {
  background-color: #323232;

  .ant-card {
    background-color: #212121;
    border: 1px solid #333;
    .ant-card-head {
      border-bottom: 1px solid #333;
      color: #fff;
    }
    .ant-card-head-title {
      color: #fff;
    }
  }

  .timlands-navbar-container {
    box-shadow: 2px 4px 7px rgba(255, 255, 255, 0.034);
  }
  .timlands-navbar {
    background-color: #000;
    .toggle-nav {
      .toggle-nav-btn {
        background-color: transparent;
        color: #222;
        &:focus {
          color: #fff;
        }
      }
    }
    .nav-container {
      .app-navbar {
        > li {
          > a {
            color: #ddd;
            &:hover {
              color: #fff;
            }
          }
          &.is-open {
            > a {
              color: #fff;
            }
          }
          .timlands-explores {
            background-color: #212121;
            border: 1px solid #333;
            box-shadow: 4px 7px 9px rgba(255, 255, 255, 0.068);
            .main-explores {
              background-color: #292929;
              .main-explore-items {
                > li {
                  > a {
                    color: #f1f1f1;
                    .count {
                      background-color: #111;
                      color: #f2f2f2;
                    }
                    &:hover {
                      background-color: $primary2;
                      color: #000;
                      .material-icons {
                        color: #000;
                      }
                      .count {
                        background-color: #000;
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
            .main-explores-container {
              .main-item-category-header {
                border-bottom: 1px solid #121212;
                .title {
                  color: #f1f1f1;
                }
              }
              .main-item-category-body {
                .sub-cat-link {
                  color: #f1f1f1;
                  p {
                    &.count {
                      background-color: #333;
                      color: #f1f1f1;
                    }
                  }
                  &:hover {
                    color: $primary2;
                    p {
                      &.count {
                        background-color: $primary2;
                        color: #000;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 750px) {
          background-color: #000;
          box-shadow: 2px 3px 10px rgba(255, 255, 255, 0.041);
        }
      }
    }
    .nav-auth {
      > li {
        a {
          color: #fff !important;
          .ant-badge {
            color: #ddd;
          }
        }
        &.login-nav-item {
          > a {
            color: #f1f1f1;
          }
        }
        &.login-user {
          > a {
            color: #f1f1f1;
          }
        }
        &.nav-error,
        &.nav-loading {
          .loading-text {
            color: #ddd;
          }
        }
        &.right-butts-icon {
          a {
            color: #fff !important;
          }
        }
      }
    }
    .circular-item {
      .list-lang-items {
        background-color: #000;
        box-shadow: 3px 2px 7px rgba(255, 255, 255, 0.055);
        .items-list {
          .lang-item {
            .lang-link {
              color: #f1f1f1;
              &:hover {
                color: #fff;
                background-color: #222;
              }
            }
          }
        }
      }
    }
  }
  .nav-auth {
    .language-nav-butt {
      color: #ddd !important;
      &:hover {
        background-color: #000 !important;
        color: #fff !important;
      }
    }
  }
  .timlands-sub-navbar {
    background-color: #222;
    .sub-navbar-cats {
      .category-title {
        color: #f1f1f1;
      }
      .category-item {
        .category-link {
          color: #f1f1f1;
          &::after {
            background-color: $primary2;
          }
          &:hover {
            color: #fff;
          }
        }
        &.active {
          .category-link {
            color: #fff;
          }
        }
      }
    }
  }

  /*
    ---------------------------------------------------------------------------------------------
        Filter Search
    ---------------------------------------------------------------------------------------------
    */

  /*
    ---------------------------------------------------------------------------------------------
        Grid
    ---------------------------------------------------------------------------------------------
    */
  .timlands-profile-content {
    .profile-content-body {
      background-color: #212121;
      .content-title {
        border-bottom: 1px dashed #393939;
        .title {
          color: #fff;
        }
      }
    }
    .profile-content-header {
      border-bottom: 1px dashed #111;
      .profile-content-head {
        .title {
          color: #fff;
        }
        .text {
          color: #fff;
        }
      }
    }
  }

  .user-bro {
    color: #fff;
  }

  .app-bill {
    background-color: #000;
    .app-bill-header {
      border-bottom: 2px dashed #111;
      .title {
        color: #fff;
      }
    }
    .app-bill-footer {
      border-top: 2px dashed #111;
    }
    .app-bill-content {
      .list-group {
        .list-group-item {
          color: #fff;
        }
        .total {
          color: #fff;
        }
      }
    }
  }

  .login-panel {
    background-color: #000;
    &.update-form {
      .update-form-header {
        border-bottom: 1px dashed #111;
        .title {
          color: #fff;
        }
      }
    }
    .login-panel-body {
      .is-loading {
        background-color: rgba(0, 0, 0, 0.699);
      }
    }
    .login-external-links {
      li {
        &:last-child {
          padding-left: 0;
        }
        .ext-butt {
          border: 1px solid #121212 !important;
          background-color: #191919 !important;
          color: #333 !important;
          div {
            background: rgb(0, 0, 0) !important;
          }
          &:hover {
            color: #fff;
            background-color: #111;
          }
        }
      }
    }
    .panel-login-external {
      .login-external-header {
        &::after,
        &::before {
          background-color: #111;
        }
        .title {
          color: #fff;
        }
      }
    }
    .remember-text {
      .text {
        color: #fff;
      }
    }
    .panel-modal-footer {
      border-top: 1px dashed #111;
      .footer-text {
        .text {
          color: #f1f1f1;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .login-image {
    .login-title {
      color: #fff;
    }
    .login-text {
      color: #ddd;
    }
  }

  .timlands-hero {
    background-color: #111;
    background-image: none;
    .timlands-hero-inner {
      .timlands-hero-content {
        .main-title {
          color: #fff;
          .styles_typicalWrapper__1_Uvh {
            color: rgb(109, 241, 149);
          }
        }
        .sub-title {
          color: #ddd;
        }
      }
      .timlands-hero-search {
        .rel-search {
          input {
            width: 100%;
          }
          .search-btn {
            background-color: transparent;
            color: #333;
            .spinner-border {
              margin-bottom: 5px;
            }
          }
          .res-search-container {
            background-color: #000;
            border: 1px solid #111;
            box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.062);
          }
        }
        .popular-searchs-list {
          .popular-title {
            color: #f2f2f2;
          }
          .popular-item {
            a {
              color: #999;
              background-color: #222;
              &:hover {
                background-color: #111;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  /*
    ---------------------------------------------------------------------------------------------
        Home Nannies Section
    ---------------------------------------------------------------------------------------------
    */
  .timwoork-nanny-home {
    background-color: #000;
    .nanny-home-content {
      .new-label {
        background-color: rgb(250, 234, 11);
        color: #000;
      }
      .title {
        color: #fff;
      }
      .text {
        color: #f2f2f2;
      }
    }
  }

  /*
    ---------------------------------------------------------------------------------------------
        Posts Aside
    ---------------------------------------------------------------------------------------------
    */

  /*
    ---------------------------------------------------------------------------------------------
        Posts Aside
    ---------------------------------------------------------------------------------------------
    */

  /*
    ---------------------------------------------------------------------------------------------
        Account Page
    ---------------------------------------------------------------------------------------------
    */
  .timlands-accounts {
    .timlands-accounts-container {
      background-color: #000;
    }
    .timlands-accounts-header {
      border-bottom: 1px solid #111;
      .title {
        color: #fff;
      }
    }
  }
  /*
    ---------------------------------------------------------------------------------------------
        Panels Style
    ---------------------------------------------------------------------------------------------
    */

  .product-devlopes-butt {
    background-color: #111;
    border: 3px dotted #212121;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.071);
    .product-devlopes-text {
      color: #fff;
    }
    .add-devs-btn {
      .material-icons-outlined {
        color: #fff;
      }
    }
  }
  .add-product-advices {
    .advice-title {
      color: #fff;
      border-bottom: 1px solid #111;
    }
    .advice-list {
      li {
        color: #fff;
      }
    }
  }

  .develop-price {
    border: 1px solid #111;
    background-color: #232323;
    .buttons-tools {
      .formarray-butt {
        background-color: #111;
        color: #ddd;
        &:hover {
          color: #fff;
          background-color: #131313;
        }
        &.del {
          background-color: rgb(248, 174, 174);
          color: rgb(65, 6, 6);
        }
      }
    }
  }
  /*
        Modal
    */
  .panel-modal {
    background-color: #000;
    box-shadow: 3px 3px 13px rgba(255, 255, 255, 0.11);
    .panel-modal-header {
      border-bottom: 1px solid #121212;
      .title {
        color: #ddd;
      }
      .panel-modal-left-tools {
        .close-modal {
          background-color: #000;
          color: #fff;
          &:hover {
            color: #ddd;
            background-color: #060606;
          }
          &:focus {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
    .panel-modal-body {
      .is-loading {
        background-color: rgba(0, 0, 0, 0.699);
      }
    }
    .panel-modal-footer {
      border-top: 1px solid #111;
      background-color: #121212;
    }
  }
  .login-title-form {
    color: #fff;
  }
  .login-text-form {
    color: #ddd;
  }
  .panel-modal-overlay {
    background-color: rgba(255, 255, 255, 0.603);
  }
  .timlands-add-new {
    border: 1px dashed #111;
    .timlands-add-new-icon {
      color: #fff;
    }
    .timlands-add-new-body {
      .title {
        color: #fff;
      }
      .text {
        color: #ddd;
      }
    }
  }
  /*
    ---------------------------------------------------------------------------------------------
        404 Page
    ---------------------------------------------------------------------------------------------
    */
  .timwoork-404-page {
    .title {
      color: #fff;
      .error-status {
        color: #ddd;
      }
    }
  }
  /*
    ---------------------------------------------------------------------------------------------
        Content Editor
    ---------------------------------------------------------------------------------------------
    */
  .content-editor {
    border: 1px solid #111;
    textarea {
      min-height: 100px !important;
    }
    .content-menu-tools {
      background-color: #121212;
      button {
        background-color: transparent;
        color: #ddd;
        &:hover {
          color: $primary2;
          background-color: lighten($primary2, 44);
        }
        &.is-active {
          color: #000;
          background-color: $primary2;
        }
      }
    }
  }
  /*
    ---------------------------------------------------------------------------------------------
        Posts Aside
    ---------------------------------------------------------------------------------------------
    */

  /*
    -------------------------------------------------------------------------------------------
        Cart List Item
    -------------------------------------------------------------------------------------------
    */

  .edit-button {
    color: #ddd;
    &:hover {
      color: $primary2;
    }
  }

  .page-loading-spinner {
    .spinner-border {
      border: 0.25em solid $primary2;
      border-right-color: transparent;
    }
  }
  .page-header {
    border-bottom: 1px dashed #121212;
    .title {
      color: #fff;
    }
  }
  .page-content {
    .sub-title {
      color: #fff;
    }
    .text {
      color: #ddd;
    }
    .list {
      li {
        color: #ddd;
      }
    }
  }
  .about-hero {
    //background-image: url('../public/5566879.jpg');
    .title {
      color: $primary2;
    }
    .text {
      color: rgba(255, 255, 255, 0.733);
    }
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
  }

  .timlands-content-form-subtitle {
    border-bottom: 1px solid #121212;
  }
  .stars {
    .stars-text {
      color: #ddd;
    }
  }
  .stars input[type="radio"]:checked ~ label {
    color: rgb(255, 251, 0);
  }
  .stars input[type="radio"]:first-child + label {
    color: #fff;
    .material-icons {
      font-size: 36px;
    }
  }
  .stars:hover input[type="radio"]:checked ~ label,
  .stars label {
    color: rgb(221, 218, 13);
  }
  .stars label {
    cursor: pointer;
  }
  .stars label {
    color: rgb(58, 58, 58);
  }
  .stars label:hover,
  .stars label:hover ~ label {
    color: rgb(223, 131, 12) !important;
  }

  .post-item-content {
    .post-meta-rate {
      .material-icons-outlined {
        color: rgb(236, 127, 2);
      }
      .outline-star {
        color: #2e2e2e;
      }
    }
  }
  .StripeElement {
    border: 1px solid #222222;
  }

  .ant-tooltip-inner {
    font-size: 13px;
  }
  .aside-header {
    border-bottom: 2px dashed #121212;
    .title {
      color: #fff;
    }
  }
  .order-user-info {
    .order-user-content {
      .user-title {
        color: #fff;
      }
      .meta {
        color: #ddd;
      }
    }
  }

  .app-footer {
    background-color: #000;
    .app-footer-aside {
      .aside-header {
        border-bottom: 1px solid #121212;
        .title {
          color: #ddd;
        }
      }
      .aside-body {
        .aside-list-items {
          > li {
            > a {
              color: #f1f1f1;
              &:hover {
                color: lighten($primary2, 9);
              }
            }
          }
        }
      }
      .social-icons {
        border-top: 1px solid #050505;
        li {
          a {
            background-color: #090909;
            color: #ddd;
            &:hover {
              color: #fff;
              background-color: #181818;
            }
          }
        }
      }
    }
  }
  .bottom-footer {
    background-color: #131313;
    .center-nav-footer {
      li {
        color: #f6f6f6;
        a {
          color: #fff;
        }
      }
    }
    .copy-text {
      color: #f1f1f1;
      a {
        color: #fff;
        &:hover {
          color: $primary2;
        }
      }
    }
  }

  //------------------------------------------------------------------------------------------------//
  // Forms
  //------------------------------------------------------------------------------------------------//

  .timlands-inputs {
    border: 1px solid #111;
    background-color: #222;
    color: #fff;

    &:hover {
      border: 1px solid #323233;
    }
    &:focus {
      border: 1px solid $primary2;
    }
    &.code {
      border: 2px solid #111;
      &:hover {
        border: 2px solid #323232;
      }
      &:focus {
        border: 2px solid $primary2;
      }
    }
  }

  .label-block {
    color: #fff;
  }
  .timlands-form {
    .timlands-input {
      background-color: #232323;
      border: 1px solid #111;
      color: #fff;
      &::placeholder {
        color: #666;
      }
      &:hover {
        border: 1px solid #323232;
      }
      &:focus {
        border: 1px solid $primary2;
        &::placeholder {
          color: #393939;
        }
      }
      &.has-error {
        border: 1px solid rgb(253, 138, 138);
      }
    }
    .timlands-form-note {
      .text {
        color: #ddd;
      }
      &.form-note-error {
        .text {
          color: rgb(247, 122, 122);
        }
      }
    }
    .icon-preview {
      color: #555;
    }
  }

  .forms-methods {
    .forms-methods-header {
      border-bottom: 1px solid #222;
      .title {
        color: #fff;
      }
    }
    .checked-items-list {
      background-color: #111;
      border: 1px solid #232323;
      .checked-item {
        border-bottom: 1px solid #323232;
        label {
          color: #ddd;
        }
        &:hover {
          background-color: #f2f2f2;
        }
        &.checked {
          background-color: #121212;
          .payment-method-icon {
            opacity: 1;
          }
          label {
            color: #fff;
          }
        }
      }
      input:checked ~ label {
        color: rgb(255, 143, 143);
      }
    }
  }
}
