.filter-search-sidebar {
  padding-top: 16px;

  .filter-sidebar-title {
    padding: 14px 0;
    margin-bottom: 9px;
    padding-top: 0;
    border-bottom: 1px dashed #ddd;

    .title {
      font-size: 17px;
      font-weight: bold;
      color: #333;
      margin: 0;
    }
  }

  .filter-sidebar-panel {
    background-color: #fff;
    padding: 14px;
    margin-bottom: 6px;

    .title {
      font-size: 16px;
      font-weight: bold;
      color: #555;
      padding-bottom: 14px;
      margin: 0;
      margin-bottom: 10px;
      border-bottom: 1px dashed #ddd;
    }
  }

  .filter-cheks {
    height: 180px;
    overflow-y: scroll;
  }
}
.is-dark {
  .filter-search-sidebar {
    .filter-sidebar-title {
      border-bottom: 1px dashed #222;
      .title {
        color: #fff;
      }
    }
    .filter-sidebar-panel {
      background-color: #000;
      .title {
        color: #f1f1f1;
        border-bottom: 1px dashed #111;
      }
    }
  }
}
.rate-filters {
  .rate-stars {
    font-size: 13px;
    display: flex;
    align-items: center;

    .stars-icons {
      padding-top: 3px;
    }

    .material-icons-outlined {
      font-size: 16px;
      color: #ec7f02;

      &.outline-star {
        color: #777;
      }
    }
  }
}
.clear-icon {
  margin-top: -18px;

  .button-clear {
    background-color: #fff;
    display: flex;
    color: #777;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.062);

    &:hover {
      color: #000;
    }

    .material-icons {
      font-size: 15px;
    }
  }
}
.filter-categories-list {
  .list-cat-item {
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #f8f8f8;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $primary;
      color: #fff;
      transition: all 0.3s;
    }

    &.displayed {
      background-color: $primary;
      color: #fff;
      transition: all 0.3s;
    }

    .item-cat-label {
      display: flex;
      align-items: center;

      .material-icons {
        font-size: 17px;
      }
    }
  }

  .list-inner {
    &:first-of-type {
      .list-cat-item {
        border-radius: 9px 9px 0 0;
      }
    }

    &:last-of-type {
      .list-cat-item {
        border-radius: 0 0 9px 9px;
        border-bottom: 0;
      }
    }
  }

  .filter-subcategories-list {
    background-color: #fff;
    padding-block: 7px;

    .list-subcat-item {
      padding: 7px 15px;
      color: #333;
      cursor: pointer;
      font-size: 13px;
      font-weight: 200;

      &:hover {
        color: $primary;
      }
    }
  }
}
