.timlands-inputs {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    border-radius: 6px;
    outline: none;
    &:hover {
        border: 1px solid #ccc;
    }
    &:focus {
        border: 1px solid $primary;
    }
}
.timlands-form {
    padding: 12px 0;
    .label-block {
        font-size: 14px;
        color: #333;
        font-weight: 600;
        display: block;
        margin-bottom: 6px;
    }
    .timlands-input {
        display: block;
        width: 100%;
        background-color: #fff;
        padding: 10px 19px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-weight: 500;
        outline: none;
        transition: all 0.3s;
        &::placeholder {
            color: #ddd;
        }
        &:hover {
            border: 1px solid #ccc;
        }
        &:focus {
            transition: all 0.3s;
            outline: none;
            border: 1px solid $primary;
            &::placeholder {
                color: #ccc;
            }
        }
    }
    .timlands-form-note {
        margin-top: 7px;
        padding: 8px 10px;
        border-radius: 5px;
        .text {
            font-size: 12px;
            color: #666;
            margin: 0;
            font-weight: 700;
        }
        &.form-note-error {
            background-color: rgb(255, 246, 246);
            border: 1px solid rgb(255, 229, 229);
            .text {
                color: rgb(196, 61, 61);
            }
        }
    }
}