@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.ltr {
  @import "inc/variables";
  @import "ltr/alerts-ltr";
  @import "ltr/redirect-ltr";
  @import "ltr/forms-ltr";
  @import "ltr/buttons-ltr";
  @import "ltr/navbar-ltr";
  @import "ltr/post-ltr";
  @import "ltr/table-ltr";
  @import "ltr/footer-ltr";
  @import "ltr/conversations-ltr";

  direction: ltr;
  font-family: "Roboto Slab", serif;
  .me-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .nav {
    padding-right: 0;
  }
  .timlands-checked-items {
    right: 10px;
    left: auto;
  }
  .timlands-profile-content {
    .profile-content-body {
      .content-title {
        .title {
          .material-icons {
            margin-right: 4px;
          }
        }
      }
    }
  }

  /*
  -------------------------------------------------------------------------------------------
      Login Panel
  -------------------------------------------------------------------------------------------
  */
  .login-panel {
    .login-panel-body {
      .is-loading {
        left: 0;
        right: 0;
      }
    }

    .login-external-links {
      li {
        padding-right: 7px;

        &:last-child {
          padding-right: 0;
        }

        .ext-butt {
          div {
            margin-left: 0 !important;
          }

          span {
            margin-left: 7px;
          }
          .fab {
            margin-right: 4px;
          }
        }
      }
    }
    .panel-modal-footer {
      .footer-text {
        .text {
          a {
            margin-left: 8px;
          }
        }
      }
    }
  }

  /*
  -------------------------------------------------------------------------------------------
      Hero Header
  -------------------------------------------------------------------------------------------
  */

  .timlands-hero {
    .timlands-hero-inner {
      .timlands-hero-search {
        .rel-search {
          .search-btn {
            right: 10px;
          }

          .res-search-container {
            left: 0;
            right: 0;
            text-align: right;
          }
        }
      }
    }
  }
  .scale-ltr {
    transform: rotateY(180deg);
  }
  /*
  ---------------------------------------------------------------------------------------------
      Home Nannies Section
  ---------------------------------------------------------------------------------------------
  */
  .timwoork-nanny-home {
    .nanny-home-image {
      @media (max-width: 600px) {
        margin-left: -50px;
        margin-right: -50px;
      }
      @media (max-width: 580px) {
        img {
          margin-left: 0;
        }
      }
    }

    .nanny-home-content {
      padding-left: 25px;
      @media (max-width: 580px) {
        padding-left: 0;
      }
    }
  }

  /*
  ---------------------------------------------------------------------------------------------
      Posts Aside
  ---------------------------------------------------------------------------------------------
  */

  .arrow-navigations {
    margin-right: -78px !important;
    .material-icons-outlined {
      margin-left: -22px;
    }
  }

  /*
  ---------------------------------------------------------------------------------------------
      Dashboard Page
  ---------------------------------------------------------------------------------------------
  */
  .dashboard-sidebar {
    .dashboard-sidebar-inner {
      .dashbord-user-details {
        .dashbord-user-content {
          .meta {
            li {
              a {
                .material-icons {
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }

      .dashboard-sidebar-list {
        > .dash-item {
          > .dash-link {
            padding-left: 26px;
            border-left-width: 4px;
            border-left-style: solid;
            border-left-color: transparent;
            .material-icons {
              margin-right: 5px;
            }
          }

          .sub-dashnav-list {
            padding-left: 50px;
          }

          &.active {
            > .dash-link {
              border-left-color: $primary;
            }
          }
        }
      }
    }
  }

  .form-check {
    padding-left: 17px;

    .form-check-input {
      float: left;
      margin-left: -1.5em;
    }
  }

  /*
  ---------------------------------------------------------------------------------------------
      Dashboard Navbar
  ---------------------------------------------------------------------------------------------
  */

  /*
  ---------------------------------------------------------------------------------------------
      Panels Style
  ---------------------------------------------------------------------------------------------
  */

  .product-devlopes-butt {
    .add-devs-btn {
      .material-icons-outlined {
        margin-right: 5px;
      }
    }
  }

  .develop-price {
    .buttons-tools {
      right: -5px;
    }
  }

  /*
      Modal
  */
  .panel-modal {
    left: 20%;
    @media (max-width: 700px) {
      right: 40px;
      left: 10px;
    }

    .panel-modal-header {
      .title {
        .material-icons {
          margin-right: 6px;
        }
      }
      .panel-modal-left-tools {
        margin-left: auto;
      }
    }

    .panel-modal-body {
      .is-loading {
        left: 0;
        right: 0;
      }
    }

    .panel-modal-footer {
      .butt-primary {
        margin-left: auto;
      }
    }
  }

  .panel-modal-overlay {
    left: 0;
    right: 0;
  }

  /*
  ---------------------------------------------------------------------------------------------
      Posts Aside
  ---------------------------------------------------------------------------------------------
  */

  /*
  -------------------------------------------------------------------------------------------
      Cart List Item
  -------------------------------------------------------------------------------------------
  */

  .read-more-btn {
    &.is-less {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  .prices-list {
    li {
      margin-right: 3px;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .app-label {
    .material-icons {
      margin-left: 3px;
    }
  }

  .page-header {
    .add-new-product {
      margin-left: auto;
    }
  }
  .page-content {
    .list {
      li {
        margin-left: 25px;
        @media (max-width: 580px) {
          margin-left: 5px;
        }
      }
    }
  }

  /*
  ---------------------------------------------------------------------------------------------
      Dark Mode
  ---------------------------------------------------------------------------------------------
  */

  @mixin hideInput {
    right: -9999px;
  }

  /* TOGGLE STYLING */
  .toggle {
    input + label {
      img {
        margin-left: auto;
      }
    }
  }

  .ReactTags :global {
    .ReactTags__selected span.ReactTags__tag:first-child {
      margin-right: 0px;
    }

    .ReactTags__selected a.ReactTags__remove {
      margin-right: 5px;
    }
  }

  .stars {
    .stars-text {
      margin-right: 15px;
    }
  }
  .stars input[type="radio"]:first-child + label {
    padding-left: 0;
  }

  .stars label {
    float: left;
  }

  .stars label {
    float: left;
  }

  .order-user-info {
    .order-user-avatar {
      img {
        margin-right: 6px;
      }
    }
  }
  .timlands-form-btn {
    right: 8px;
  }
  .tags-item {
    button {
      right: -2px;
    }

    button {
      &.minse {
        right: 22px;
      }
    }
  }
  .rel-form {
    input {
      border-radius: 5px 0 0 5px;
    }
    .timlands-form-label {
      border-radius: 0 5px 5px 0;
    }
  }

  .category-item {
    .category-item-title {
      .title {
        .material-icons {
          margin-right: 3px;
        }
      }
    }
  }

  .order-uploader-files {
    .attachment-list-items {
      li {
        .remove-icon {
          right: 2px;
        }
      }
    }
  }

  // Modal Confirm
  .overlay-fixed {
    left: 0;
    right: 0;
  }

  .modal-conferm {
    left: 0;
    right: 0;
    &::after {
      left: 0;
      right: 0;
    }
  }

  .message-item {
    display: flex !important;
    flex-direction: row !important;

    text-align: left;

    .item-content {
      .bg-danger,
      .bg-success {
        right: 10px;
      }
    }
    .item-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &.recieved {
      flex-direction: row-reverse !important;
      .item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .readed {
      right: 12px;
    }
    .btn-translate {
      right: 34px;
    }
    &.recieved {
      flex-direction: row;
      text-align: right;
      .btn-translate {
        left: 20px;
      }
      .readed {
        left: 12px;
      }

      .item-content {
        .bg-danger,
        .bg-success {
          left: 10px;
          right: auto;
        }
      }
    }
  }

  .ant-dropdown-menu-title-content {
    a {
      .material-icons {
        margin-right: 3px;
      }
    }
  }

  .purchase-by-wallet {
    .btn {
      img {
        margin-right: 6px;
      }
    }
  }

  .select-tags-form {
    .spinner-border {
      right: 83px;
    }
  }

  .images-slidshow {
    &::after {
      left: 0;
      right: 0;
    }
  }

  .slick-dots {
    @media (max-width: 600px) {
      right: 200px;
    }
  }

  .transfert-box {
    .btn-edit {
      right: -4px;
    }
  }

  .pagination {
    padding-right: 0;

    .page-item {
      &:first-child {
        .page-link {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-child {
        .page-link {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
  .rate-filters {
    .rate-stars {
      .stars-icons {
        padding-right: 3px;
      }
    }
  }

  .tool-right {
    .tool-menus {
      right: 0;
    }
  }

  .form-with-span {
    .label-form {
      border-left: 1px solid #ddd;
      right: 1px;
    }
  }

  .filter-categories-list {
    .list-cat-item {
      .item-cat-label {
        .material-icons {
          margin-right: 4px;
        }
      }
    }

    .filter-subcategories-list {
      padding-left: 25px;
    }
  }

  .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    left: auto;
    right: 16px;
  }

  .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header {
    padding-left: 16px;
  }

  .clear-icon {
    float: right;
    margin-right: -7px;
  }

  .rate-filters {
    .form-check {
      padding-left: 35px;
    }
  }

  .single-comments-overlay {
    left: 0;
    right: 0;
    .single-comments-modal {
      .modal-title {
        .title {
          margin-right: auto;
          margin-left: 0;
        }

        .btn-close {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  .sus-options {
    padding-left: 30px;
  }

  // Activities
  .activities-items {
    .activities-items-list {
      li {
        .item-link {
          .meta {
            .material-icons {
              margin-right: 4px;
            }
          }
          .activity-item-img {
            padding-right: 10px;
          }
        }
      }
    }
  }
  .conversation-items {
    .conversation-items-list {
      li {
        .item-link {
          .item-actions {
            right: 8px;
            .btn-item {
              margin-right: 3px;
            }
          }

          .meta {
            .material-icons {
              margin-right: 3px;
            }
          }

          &.user-from {
            flex-direction: row;
          }

          &.user-to {
            flex-direction: row-reverse;
            text-align: right;

            .meta {
              flex-direction: row-reverse;

              .material-icons {
                margin-left: 3px;
              }
            }

            .item-actions {
              left: 8px;

              .btn-item {
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }

  .linked-image {
    a {
      .text {
        margin-left: 4px;
      }
    }
  }

  .theme-item {
    padding-right: 2px;
  }

  /*-------------------------------------------------------------------------------------*/
  // New Index

  // Title
  .timlands-horizontale-header {
    .aside-button {
      margin-left: auto;
      margin-right: 0;
    }
  }
  // Category Item
  .category-items {
    .category-item-image {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }
  // Profile Menu Dropdown
  .nav-profile-list {
    right: 0;
    .nav-profile-list-header {
      .nav-profile-list-header-img {
        margin-right: 6px;
      }
    }
    .nav-profile-list-content {
      .list-profile-withicons {
        li {
          a {
            .circul-icon {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .timland-hero {
    &.hero-orange {
      background-image: linear-gradient(
        to right,
        #ea7707,
        lighten(#ea7707, 10%)
      );
    }
    &.hero-red {
      background-image: linear-gradient(
        to right,
        #7d1010,
        lighten(#7d1010, 10%)
      );
    }
    &.hero-green {
      background-image: linear-gradient(
        to right,
        #013914,
        lighten(#013914, 10%)
      );
    }
    &.hero-pink {
      background-image: linear-gradient(
        to right,
        #b64663,
        lighten(#b64663, 10%)
      );
    }
    .timlands-hero-carousel {
      max-width: 1400px !important;
      .timlands-hero-img {
        align-items: flex-end;
        padding-right: 15px;
      }
      .timlands-hero-text {
        right: 5%;
        @media (max-width: 1292px) {
          right: 8%;
        }
        @media (max-width: 1197px) {
          right: 12%;
        }
        @media (max-width: 1075px) {
          right: 19%;
        }
      }
    }
  }

  // Hero Content Header
  .app-new-navbar-cont {
    .app-new-navbar {
      .toggleButton {
        margin-right: 7px;
      }
      .app-new-nav {
        margin-left: auto;
        @media (max-width: 600px) {
          margin-left: 0px;
        }
        > li {
          a {
            margin-left: 4px;
            .expand-more {
              margin-left: 4px;
            }
          }

          &.link-item {
            a {
              .material-icons {
                margin-right: 4px;
              }
            }
          }
          .nav-menu-dropdown {
            .menu-list-dropdown {
              li {
                a {
                  .dropd-item-img {
                    .icon-item {
                      .material-icons {
                        margin-right: -1px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      left: 0;
      right: 0;
      &.is-fixed-nav {
        .app-new-nav {
          > li {
            a {
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

  .hero-container {
    padding-left: 50px;
    @media (max-width: 900px) {
      padding-left: 0px;
    }
  }
  // Search Navbar
  .new-search-bar {
    .new-search-bar-form {
      .new-searchbar {
        left: 18px;
      }
      input {
        padding-left: 34px;
        border-radius: 5px 0 0 5px;
      }
    }
  }

  .container-search-form {
    .container-search-form-input {
      .input-icon-search {
        left: 15px;
      }

      input {
        padding-left: 55px;
        border-radius: 7px 0 0 7px;
      }
      button {
        border-radius: 0 7px 7px 0;
        font-size: 100%;
      }
    }
  }

  // Video Aside
  .video-section {
    .video-section-content {
      .video-section-body {
        .video-section-list {
          li {
            .text {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
  // Customize Container Bootstrap

  // Footer
  .footer-inner {
    .footer-item {
      .footerlist {
        padding-left: 6px;
      }
    }
    .payments-footer {
      img {
        margin-right: 5px;
      }
    }
  }
  .footer-bottom {
    .footer-bottom-inner {
      .right-footer {
        margin-right: auto;
        .text {
          margin-left: 15px;
        }
      }
      .left-footer {
        margin-left: auto;
        .currency {
          li {
            .rounded-button {
              margin-left: 5px;
              svg {
                margin-right: 4px;
              }
            }
          }
        }
        .socials {
          li {
            a {
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
  // Popup Navbar
  .nav-popup-dropdown {
    right: 0;
    .popup-dropdown-header {
      padding: 15px;
      background-color: #f6f6f6;
      border-bottom: 1px solid #f2f2f2;
      border-radius: 8px 8px 0 0;
    }
  }
  // Visiblitu password Button
  .form-toggle-password {
    right: 10px;
  }
  .new-form-forget {
    .forget-pass {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .new-subnavbar {
    .subnavbar-nav {
      li {
        &.sub {
          &::after {
            right: 50%;
            transform: translateX(50%);
          }
        }
      }
    }
  }
  .side-new-nav {
    .collapses {
      .nav-menu-dropdown {
        .menu-list-dropdown {
          li {
            a {
              .dropd-item-img {
                .icon-item {
                  .material-icons {
                    margin-right: -1px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .timlands-post-inner {
    .post-meta-user {
      img {
        margin-right: 4px;
      }
    }
  }
  .arrow-navigations {
    &.right {
      margin-left: -30px !important;
      margin-right: 0 !important;
    }
    &.left {
      margin-right: -30px !important;
      margin-left: 0 !important;
    }
  }

  .new-search-bar {
    padding-left: 10px;
    .new-search-bar-form {
      padding-left: 9px;
    }
    .btn {
      border-radius: 0 5px 5px 0;
    }
    .input {
      border-radius: 5px 0 0 5px;
    }
  }
  .timlands-post-inner {
    .post-meta-user {
      img {
        margin-right: 4px;
      }
    }
  }
  .shadow {
    left: 2rem;
  }
  /*
  ==========================================================================================
  */

  .portfolios-slider {
    .slider-item-portfolio {
      .slider-item-portfolio-content {
        .slider-item-portfolio-user {
          .portfolio-user-avatar {
            margin-right: 7px;
          }
        }
      }
    }
  }
  .slider-inner {
    .slider-item-portfolio {
      margin-right: 10px;
    }
    &:last-of-type {
      .slider-item-portfolio {
        margin-right: 0;
      }
    }
  }

  .portfolio-single {
    .portfolio-single-header {
      .portfolio-single-header-aside {
        margin-right: auto;
      }
      .portfolio-single-header-tool {
        margin-left: auto;
      }
    }
  }

  .portfolio-sidebar {
    .single-info-portfolio {
      .table {
        .skill-item,
        .share-item {
          margin-right: 5px;
        }
      }
    }
  }
  .portfolio-item-img {
    .portfolio-item-img-buttons {
      .btn {
        svg {
          margin-right: 4px;
        }
      }
    }
  }

  .portfolios-container {
    .portfolios-nav {
      .portfolios-nav-list {
        li {
          .portfolio-item {
            svg {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }

  .portfolio-item {
    .counts {
      right: -10px;
    }
  }
  .user-mata-post-content {
    margin-left: 5px;
  }
}
