$open-sans: "Open Sans", "Helvetica", sans-serif;

$darkNavy: #213140;
$teal1: #66b3fb;
$teal2: #4b9dea;
$charcoal: #555555;
$gold: #b6985a;

$activeShadow: 0 0 10px rgba($teal1, 0.5);
@import "inc/variables";
@import "inc/alerts";
@import "inc/redirect";
@import "inc/forms";
@import "inc/buttons";
@import "inc/navbar";
@import "inc/post";
@import "inc/table";
@import "inc/footer";
@import "inc/conversations";
@import "inc/hero";
@import "inc/editSeller";
@import "inc/cards";
@import "inc/layout";
@import "inc/single";
@import "inc/slide";
@import "inc/empty";
@import "inc/singleSidebar";
@import "inc/panel";
@import "inc/panelItem";
@import "inc/is-dark";
@import "inc/imagesFiles";
@import "inc/stars";
@import "inc/panelModal";
@import "inc/antd";
@import "inc/404";
@import "inc/listGroup";
@import "inc/mobileMenus";
@import "inc/content";
@import "pages/index";
@import "pages/products";
@import "pages/purchases";
@import "pages/user";
@import "pages/login";
@import "pages/cart";
@import "pages/addProduct";
@import "pages/about";
@import "pages/blog";
@import "pages/contest";
@import "pages/portfolio";
@import "dashboard/components/sidebar";
@import "dashboard/components/navbar";
@import "dashboard/components/conversations";
@import "dashboard/components/overlay";
@import "dashboard/pages/activities";
@import "dashboard/utils";
@import "utils";

@font-face {
  font-family: "jf";
  src: url("/fonts/JF-Flat-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "cairo";
  src: url("../font/cairo.ttf") format("truetype");
}

@font-face {
  font-family: "jf";
  src: url("/fonts/JF-Flat-regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "jf";
  src: url("/fonts/JF-Flat-medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "kast";
  src: url("/fonts/KacstBook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  position: relative;
  font-family: "jf" !important;
  background-color: #f7f7f7;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  -ms-overflow-style: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &:hover {
    scrollbar-color: #cbd1d8 #cbd1d8;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 8px;
    background-color: $primary;
    transition: all 0.1s linear;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: all 0.1s linear;
    background-color: $primary;
  }
}

.arrow-navigations {
  cursor: pointer;
  .material-icons-outlined {
    color: #fff;
    font-size: 73px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.555);
  }
}

.app-label {
  .material-icons {
    font-size: 17px;
    padding-top: 5px;
  }
}

/* MIXINS */

/* TOGGLE STYLING */

.load-more-div {
  border-top: 2px dashed #ddd;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.tags-item {
  transition: all 0.3s;
  padding-bottom: 9px;

  input {
    outline: none;
    transition: all 0.3s;
    background-color: #f9f8f7;
    font-size: 13px;

    &:hover {
      transition: all 0.3s;
      border: 1px solid #ccc !important;
      background-color: #fff !important;
    }
  }

  button {
    position: absolute;
    display: flex;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #555;
    border: 1px solid #ddd;
    top: 6px;
  }
}

.meta-note {
  font-size: 13px;
  color: #555;
}

.rel-form {
  position: relative;
  display: flex;

  .label-block {
    width: 100%;
  }

  .timlands-inputs {
    width: 70%;
  }

  .timlands-form-label {
    background-color: #ddd;
    display: flex;
    align-items: center;
    align-content: center;
    width: 30%;
    justify-content: center;
    text-align: center;
    padding: 0 12px;

    p {
      color: #666;
      margin: 0;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.category-item {
  .category-item-title {
    padding: 12px 7px;
    border-bottom: 1px dashed #f1f1f1;
    margin-bottom: 9px;

    .title {
      font-size: 19px;
      margin: 0;
      display: flex;
      align-content: center;
      align-items: center;

      .material-icons {
        font-size: 20px;
      }
    }
  }

  .category-item-content {
    li {
      a {
        color: #666;
        font-size: 16px;
        font-weight: 200;

        &:hover {
          color: $primary2;
        }
      }
    }
  }
}

.playerProfilePic_home_tile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.avatar-uploader {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  input {
    position: absolute;
    opacity: 0;
    z-index: 44;
    cursor: pointer;

    &:hover ~ .upload-btn {
      background-color: rgba(0, 0, 0, 0.281);
    }
  }

  .upload-btn {
    position: absolute;
    width: 60px;
    height: 60px;

    display: flex;
    color: #fff;
    transition: all 0.3s;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.158);
  }
}

.box-note {
  padding: 10px;
  border-color: transparent;
  border-width: 1px;
  border-style: dashed;
  border-radius: 6px;
  text-align: center;

  .text {
    font-size: 13px;
    line-height: 27px;
    color: #444;
    margin: 0;
  }

  &.warning {
    border-color: #ebc987;

    .text {
      color: rgb(228, 130, 18);
    }
  }

  &.red {
    border-color: #eb8787;

    .text {
      color: rgb(228, 18, 18);
    }
  }

  &.primary {
    border-color: lighten($primary, 40);

    .text {
      color: darken($primary, 10);
    }
  }

  &.primary-fill {
    border-color: lighten($primary, 42);
    background-color: lighten($primary, 60);

    .text {
      color: lighten($primary, 5);
    }
  }

  &.green-fill {
    border-color: lighten(#0d8832, 42);
    background-color: lighten(#0d8832, 60);

    .text {
      color: lighten(#0d8832, 5);
    }
  }
}

.order-uploader-files {
  overflow: hidden;
  padding: 10px;
  border-color: #f1f1f1;
  border-width: 1px;
  border-style: dashed;
  border-radius: 6px;
  text-align: center;

  .uploader-header {
    padding: 10px 0;
    border-bottom: 1px dashed #f3f3f3;
    margin-bottom: 6px;

    .title {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .attachment-list-items {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 12px;
      color: #777;
      padding: 6px;
      overflow: hidden;
      border-bottom: 1px solid #f7f7f7;
      position: relative;

      .remove-icon {
        display: flex;
        width: 23px;
        height: 23px;
        position: absolute;
        top: 2px;
        align-items: center;
        align-content: center;
        color: #555;
        justify-content: center;
        background-color: #f5f5f5;
        cursor: pointer;

        &:hover {
          color: #000;
          background-color: #f9f9f9;
        }
      }
    }
  }

  .select-files {
    overflow: hidden;
    padding: 10px;
    border-color: #f1f1f1;
    border-width: 1px;
    border-style: dashed;
    border-radius: 6px;
    text-align: center;

    .text {
      font-size: 14px;
      color: #666;
      margin: 0;
    }
  }

  .files-proprieties {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 12px;
      color: #222;
      padding: 4px;
      overflow: hidden;
      font-weight: 300;
      position: relative;
    }
  }
}

// Modal Confirm

.modal-conferm {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9970;
  display: flex;
  align-items: center;
  justify-content: center;
  &.sub-modal {
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 3000;
  }

  .modal-conferm-inner {
    position: relative;
    z-index: 4000;
    background-color: #fff;
    width: 400px;
    overflow: hidden;
    border-radius: 7px;
  }

  &.md {
    .modal-conferm-inner {
      width: 550px;
    }
  }

  &.lg {
    .modal-conferm-inner {
      width: 700px;
    }
  }

  &.xl {
    .modal-conferm-inner {
      width: 850px;
    }
  }

  .modal-conferm-head {
    border-bottom: 2px dashed #f6f6f6;
    margin-bottom: 9px;

    .title {
      margin: 0;
      font-size: 21px;
      font-weight: bold;
    }
  }

  .modal-conferm-body {
    .text {
      margin: 0;
    }
  }

  .modal-conferm-footer {
    border-top: 2px dashed #f6f6f6;
    margin-top: 9px;
  }

  .modal-conferm-head,
  .modal-conferm-body,
  .modal-conferm-footer {
    padding: 15px;
  }
}

// ------------------------------------------------------------------------------------------- //

.msg-notification {
  .meta {
    color: #777;
    font-weight: 200;
    font-size: 12px;
    margin: 0;
  }

  .title {
    color: #222;
    font-weight: bold;
    font-size: 17px;
    margin: 3px 0;
  }

  .text {
    color: #222;
    font-weight: 200;
    font-size: 14px;
    margin-top: 5px;
  }
}

.is-hover-primary {
  a {
    &:hover {
      color: $primary !important;
      text-decoration: underline;
    }
  }
}

.nothing-images {
  padding: 20px 10px;
  margin-block: 10px;

  .nothing-title {
    font-weight: bold;
    color: #666;
  }

  .nothing-text {
    color: #666;
    margin: 0;
    font-size: 14px;
  }
}

.css-b62m3t-container {
  width: 100%;
}

.nothing-note {
  padding: 10px;
  text-align: center;

  .text {
    color: #e27318;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
  }
}

.order-notes {
  padding: 15px 20px;
  border-top: 1px solid #f6f6f6;
  margin-top: 15px;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
  }

  .order-notes-list {
    li {
      font-size: 13px;
      margin: 8px 0;
      font-weight: 200;
      line-height: 27px;
    }
  }
}

.images-slidshow {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 645;

    @media (max-width: 600px) {
      width: 100%;
    }

    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.719));
  }

  .image-slider-item {
    div {
      @media (max-width: 600px) {
        width: 100% !important;
      }
    }
  }
}

.ProseMirror {
  padding: 20px;
  min-height: 190px;
  outline: none;
  border: 1px solid #f3f3f3;
  border-radius: 7px;
  transition: all 0.3s;

  &:focus {
    overflow: none;
    transition: all 0.3s;
    border: 1px solid #ddd;
  }
}

.menubar {
  display: flex;

  button {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #f1f1f1;
    align-items: center;
    justify-content: center;
    color: #444;

    .material-icons {
      font-size: 17px;
    }

    &:hover {
      color: #000;
      background-color: #f1f1f1;
    }

    &.is-active {
      color: rgb(255, 255, 255);
      background-color: $primary;
    }
  }
}

.app-badge {
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  color: #555;
  font-weight: 200;
  background-color: #f4f4f4;
  border-radius: 4px;
  min-width: 50px;
  text-align: center;

  &.app-badge-primary {
    background-color: $primary;
    color: #fff;
  }

  &.app-badge-success {
    background-color: #2ac559;
    color: #fff;
  }

  &.app-badge-danger {
    background-color: #c52a2a;
    color: #fff;
  }

  &.app-badge-info {
    background-color: #0f81a3;
    color: #fff;
  }
}

.main-category-item {
  padding: 20px;
  text-align: center;
  border-radius: 7px;
  margin: 7px;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 120px;
  }

  @media (max-width: 580px) {
    height: 110px;
  }

  @media (max-width: 600px) {
    margin: 7px 0;
  }

  @media (max-width: 340px) {
    transform: scale(0.9);
  }

  .main-category-item-icon {
    .material-icons {
      font-size: 50px;
      transition: all 0.3s;
      color: #999;
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 45px;
      }

      @media (max-width: 580px) {
        font-size: 38px;
      }
    }
  }

  .main-category-item-title {
    .title {
      font-size: 18px;
      font-weight: 200;
      margin: 0;
      transition: all 0.3s;
      color: #555;
      cursor: default;

      @media (max-width: 768px) {
        font-size: 17px;
      }

      @media (max-width: 580px) {
        font-size: 15px;
      }
    }
  }

  &:hover {
    transition: all 0.3s;
    padding: 15px;

    .main-category-item-icon {
      .material-icons {
        color: $primary2;
        transition: all 0.3s;
      }
    }

    .main-category-item-title {
      .title {
        color: #000;
        transition: all 0.3s;
      }
    }
  }
}

.placeholder-category-item {
  border: 1px dashed #ddd;
  padding: 20px;
  border-radius: 7px;
  margin: 7px;
  height: 130px;
  background-color: #f8f8f8;
  transition: all 0.3s;
  justify-content: center;

  .main-category-item-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
  }

  .main-category-item-title {
    .title {
      background-color: #fff;
      border-radius: 7px;
      height: 18px;
    }
  }
}

.withdrawal-select {
  display: flex;
  padding: 15px;

  .title {
    margin: 0;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    width: 200px;
    display: flex;
    align-items: center;
  }

  .select {
    width: calc(100% - 200px);
  }
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

[contenteditable]:focus {
  outline: 0;
}

.withdrawable-sidebar {
  position: sticky;
  top: 80px;
}

.transfert-box {
  position: relative;
  margin-bottom: 4px;

  .btn-edit {
    width: 40px;
    height: 40px;
    border: 0;
    box-shadow: -6px -8px 12px rgba(0, 0, 0, 0.041);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 14px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s;
    }
  }
}

.timlands-panel-cart {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.089);
  margin-top: 8px;
  margin-bottom: 15px;

  @media (min-width: 992px) {
    width: 700px;
    margin: auto;
  }

  .timlands-panel-cart-header {
    margin-bottom: 14px;
    border-bottom: 1px dashed #f1f1f1;
    padding: 14px;

    .title {
      font-size: 25px;
      font-weight: bold;
      margin: 0;
    }
  }

  .timlands-panel-cart-body {
    .cart-item {
      padding-bottom: 8px;

      .cart-title {
        font-size: 17px;
        font-weight: bold;
        color: #333;
      }

      .cart-text {
        font-size: 17px;
        font-weight: normal;
        color: #555;
      }
    }
  }

  .timlands-panel-cart-footer {
    margin-top: 14px;
    border-top: 1px dashed #f1f1f1;
    padding: 14px;
    display: flex;
  }
}

.pagination {
  .page-item {
    .page-link {
      font-size: 14px;
      color: $primary;

      @media (max-width: 700px) {
        font-size: 13px;
      }

      @media (max-width: 580px) {
        font-size: 12px;
      }

      @media (max-width: 420px) {
        font-size: 10px;
        padding: 10px 8px !important;
      }
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &.active {
      .page-link {
        background-color: $primary;
        border-color: $primary;
        color: #fff;
      }
    }
  }
}

.search-results-items {
  height: 500px;
  overflow-x: scroll;
  -ms-overflow-style: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &:hover {
    scrollbar-color: #cbd1d8 transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background-color: transparent;
    transition: all 0.1s linear;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: all 0.1s linear;
    background-color: #cbd1d8;
  }
}

.containerProductsPage {
  max-width: 1400px;
  margin: auto;
  padding-inline: 3%;
}

.containerProductsPagePopular {
  max-width: 1400px;
  margin: auto;
  padding-inline: 6%;
}

@media (max-width: 1050px) {
  .containerProductsPagePopular {
    max-width: 1400px;
    margin: auto;
    padding-inline: 2%;
  }
}

@media (max-width: 768px) {
  .containerProductsPagePopular {
    padding-inline: 13%;
  }
}

@media (max-width: 550px) {
  .containerProductsPagePopular {
    padding-inline: 5%;
  }
}

.productPagination {
  width: 100%;
}

@media (max-width: 950px) {
  .containerProductsPage {
    margin-inline: 1.5%;
  }
}

@media (max-width: 768px) {
  .containerProductsPage {
    margin-inline: 7%;
  }
}

.nav-container {
  width: 100%;
}

/*# sourceMappingURL=app-rtl.css.map */
@media (max-width: 940px) {
  .nav-container {
    width: fit-content;
  }
}

@media (max-width: 450px) {
  .app-bill {
    padding: 12px;
  }

  .row > * {
    padding: 5px;
  }
}

@media (max-width: 390px) {
  .app-bill {
    padding: 10px;
  }
}

.tool-right {
  position: relative;

  .btn-tool {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #777;
    border-radius: 50%;
    border: 0;
    justify-content: center;

    &:hover,
    &.is-active {
      color: #000;
      background-color: #fff;
    }
  }

  .tool-menus {
    position: absolute;
    background-color: #fff;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.062);
    width: 150px;
    z-index: 200;

    .listmenu-sort {
      list-style: none;
      padding: 0;
      margin: 0;

      .btn-item {
        display: flex;
        border: 0;
        background-color: #fff;
        padding: 10px;
        font-size: 13px;
        width: 100%;

        &:hover {
          background-color: #f4f4f4;
          color: #000;
        }
      }
    }
  }
}

.single-comments-overlay {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.041);
  display: flex;
  justify-content: center;
  align-items: center;

  .single-comments-modal {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.041);
    border-radius: 9px;
    overflow: hidden;
    padding: 10px;
    width: 400px;

    .modal-title {
      padding: 15px;
      border-bottom: 1px dashed #ddd;
      margin-bottom: 12px;
      display: flex;

      .title {
        font-size: 17px;
        font-weight: bold;
        margin: 0;
      }
    }

    .modal-body {
      padding: 15px;
    }
  }
}

.sus-options {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
}

.title-modal {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f8f8f8;
}

.cause-text {
  font-size: 14px;
  margin: 6px 0;
  line-height: 28px;
}

.sus-list-inner {
  .sus-list {
    li {
      font-size: 13px;
      line-height: 29px;
    }
  }
}

// Activities

.linked-image {
  a {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
    }
  }
}

.theme-item {
  border-radius: 14px;
  padding: 4px;

  /* HIDE RADIO */
  [type="radio"] {
    transition: all 0.3s;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type="radio"] + img {
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.6;
    transform: scale(0.8);
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s;
  }
}

.timlands-horizontale-list {
  padding: 30px 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// Title
.timlands-horizontale-header {
  padding: 12px;
  margin-bottom: 12px;
  border-bottom: 2px dashed #f3f3f3;
  display: flex;
  align-items: center;

  .title {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
  }
}
.transition-all {
  transition: all 0.3s;
}

.category-items {
  overflow: hidden;
  width: 200px;
  height: 300px;
  border-radius: 7px;
  position: relative;
  display: block;
  margin: auto;
  transition: all 0.3s;
  @media (min-width: 1920px) {
    width: 323px;
    height: 367px;
  }
  @media (max-width: 1200px) {
    width: 180px;
    height: 280px;
  }
  .category-item-image {
    background-size: cover;
    height: 100%;
    position: relative;
    transition: all 0.3s;
    transform: scale(1);

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.362);
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.3s;
      bottom: 0;
      top: 0;
      z-index: 100;
    }
  }

  .category-item-content {
    position: absolute;
    z-index: 200;
    bottom: 0;
    padding: 10px;

    .meta {
      font-size: 10px;
      font-weight: 100;
      margin: 0;
      color: #fff;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.262);
    }

    .cat-name {
      font-size: 13px;
      color: #fff;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.262);
    }
  }

  &:hover {
    transition: all 0.3s;

    .category-item-image {
      transform: scale(1.06);
      transition: all 0.3s;

      &::after {
        background-color: rgba(0, 0, 0, 0.062);
        transition: all 0.3s;
      }
    }
  }
}

.new-search-bar {
  width: 100%;
  position: relative;
  @media (max-width: 850px) {
    &.side {
      display: block;
    }
    display: none;
  }
  .new-search-bar-form {
    display: flex;
    position: relative;
    .new-searchbar {
      position: absolute;
      color: #ccc;
      top: 1px;
      font-size: 16px;
    }
    input {
      padding: 8px 13px;
      border: 1px solid #f4f4f4;
      background-color: #fff;
      font-size: 12px;
      outline: none;
      &::placeholder {
        color: #ccc;
      }
      width: calc(100% - 80px);
      &:hover {
        border: 1px solid #ccc;
      }
      &:focus {
        border: 1px solid $primary2;
      }
    }
    .btn {
      width: 80px;
    }
  }
}

.container-search-form {
  // width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-search-form-input {
    width: 600px;
    @media (max-width: 650px) {
      width: 80vw;
    }
    position: relative;
    display: flex;

    .input-icon-search {
      position: absolute;
      top: 17px;
      z-index: 10;
      color: #ccc;
    }

    input {
      width: 80%;

      padding: 8px 20px;
      border: 1px solid rgba(255, 255, 255, 0.459);
      background-color: #fff;
      outline: none;
      font-size: 14px;
      font-weight: 200;

      &::placeholder {
        color: #ccc;
      }

      &:focus {
        border: 1px solid $primary2;
      }
    }

    // .btn {
    //   width: 20%;
    // }
  }
}

.video-section {
  background-color: lighten($primary, 50);
  padding: 55px 20px;
  display: flex;
  justify-content: center;
  .innerVideo {
    max-width: 1200px;
  }
  .video-section-play {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px;

    .video-section-play-inner {
      height: 390px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;
      @media (max-width: 500px) {
        height: 250px;
      }
      .play-button {
        background-color: #fff;
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: #000;
        transition: all 0.3s;
        opacity: 0.5;

        .material-icons {
          font-size: 27px;
        }
      }
    }

    &:hover {
      .play-button {
        transition: all 0.3s;
        opacity: 1;
      }
    }
  }

  .video-section-content {
    .video-section-header {
      padding: 20px 5px;
      border-bottom: 2px dashed rgba(0, 0, 0, 0.055);
      margin-bottom: 10px;

      .title {
        font-size: 21px;
        font-weight: bold;
        margin: 0;
      }
    }

    .video-section-body {
      padding: 10px 0;

      .video-section-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          color: rgba(0, 0, 0, 0.6);
          line-height: 28px;

          .title {
            font-weight: 300;
            font-size: 16px;
            display: flex;
            font-family: cairo !important;
            font-weight: bolder;
            align-items: center;

            .material-icons {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.new-form-forget {
  display: flex;
  align-items: center;
  .forget-pass {
    a {
      font-size: 12px;
      font-weight: 300;
      color: #777;
      &:hover {
        color: $primary;
      }
    }
  }
}

.submit-button-modal {
  width: 100%;
}

.new-drop-check {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    .checked-item-button {
      border-radius: 6px;
      color: #777;
      display: flex;
      width: 100%;
      font-size: 13px;
      border: 0;
      background-color: #fff;
      align-items: center;
      padding: 10px 17px;
      &:hover {
        background-color: #f9f9f9;
      }
      &:focus {
        background-color: #f1f1f1;
        color: #000;
      }
      &.checked {
        background-color: #f1f1f1;
        color: #000;
      }
    }
  }
}
.nav-subcategories-list {
  width: 600px;
  z-index: 2000;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 4px 17px rgba(0, 0, 0, 0.041);
  overflow: hidden;
  .nav-subcategories-list-content {
    padding: 15px;
  }
  .list-subcategories-withicons {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    list-style: none;
    li {
      a {
        color: #555;
        font-size: 13px;
        font-weight: 200;
        display: block;
        padding: 10px 0;
        transition: all 0.3s linear;
        &:hover {
          color: $primary2;
        }
      }
    }
  }
}

.descriptionInputHold {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  &:focus {
    outline: none;
  }
}

.add-butts {
  display: flex;
  justify-content: center;
}
.note-form-text-sh {
  margin-top: 6px;
  .text {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    color: #777;
    margin: 0;
  }
}
.arrows-sub {
  @media (min-width: 778px) {
    display: none;
  }
}

.index-product-header {
  button {
    border: none;
    border-radius: 8px;
    padding: 0.7em 1em;
    background-color: rgba(0, 102, 255, 0.05);
    color: #0066ff;
    transition: all 0.3s linear;
    &:hover {
      background-color: rgba(0, 102, 255, 0.01);
    }
  }
}
.registerPhone {
  display: flex;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 8px 20px;
  font-size: 13px;
  border-radius: 6px;
  outline: none;
  width: 100%;
  justify-content: space-between;
  &:hover {
    border: 1px solid #ccc;
  }
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    border: 1px solid $primary;
  }
  input {
    border: none;
    &:focus {
      outline: none;
      padding: 0;
    }
  }
  select {
    border: none;
    height: 100%;
    &:focus {
      outline: none;
      padding: 0;
    }
  }
}
.languageMenuDropDown {
  background-color: white;
  padding: 2px;
  list-style-type: none;
  display: flex;
  top: 50px;
  position: absolute;
  flex-direction: column;
  z-index: 2000;
  transition: all 0.4s linear;
  gap: 1px;
  border-radius: 6px;
  &.en {
    right: 0 !important;
  }
  &.ar {
    left: 0 !important;
  }
  opacity: 0;
  li {
    border-radius: 6px;
    padding: 6px 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.selectedLanguage {
      transition: all 0.3s linear;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &.showLanguage {
    animation: showLanguage 0.4s linear both;
  }
}
@keyframes showLanguage {
  100% {
    top: 40px;
    opacity: 1;
  }
}

.timlands-followers-users {
  .follower-user-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #f8f8f8;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 7px;
    transition: all 0.3s;
    &:hover {
      background-color: #f8f8f8;
      border: 1px solid #f1f1f1;
      transition: all 0.3s;
    }
    .follower-user-item-aside {
      display: flex;
      .follower-user-item-img {
        margin-left: 15px;
        img {
          border-radius: 50%;
        }
      }
      .follower-user-item-content {
        .title {
          font-size: 18px;
          font-weight: bold;
          margin: 0;
          a {
            color: #333;
          }
        }
        .meta {
          font-size: 13px;
          font-weight: 200;
          margin: 0;
          color: #777;
        }
      }
    }
  }
}
.timlands-checked-items {
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 48px;
  left: 10px;
  display: flex;
  li {
    a {
      display: flex;
      padding: 4px 6px;
      color: #666 !important;
      border-radius: 4px;
      margin-inline: 3px;
      background-color: #f5f5f5;
      font-size: 11px;
    }
    &.active {
      a {
        color: #fff !important;
        background-color: #3bb361;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
